* {
    font-family: 'Protest Strike', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.links{
    color: #000000;
    font-size: 20px;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
}

header{
    text-align: center;
    font-size: 50px;
}


nav, .superheroes {
    padding: 1rem;
    color: black;
}

.superheroes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.heroe {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.hero-icons{
    max-width: 30%;
}

#Wow h2 {
    color: #D32F2F;
    margin-bottom: 1rem;
}

#Wow {
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .30);
}

#Superman h2 {
    color: #285bff;
    margin-bottom: 1rem;
}

#Superman {
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .30);
}

#FLash h2 {
    color: #B4B100FF;
    margin-bottom: 1rem;
}

#FLash {
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .30);
}

#Green h2 {
    color: #4d980f;
    margin-bottom: 1rem; /
}

#Green {
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .30);
}

/*Avengers Style*/

#iron-man h2 {
    color: #D32F2F;
    margin-bottom: 1rem;
}

#iron-man {
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .30);
}

#cap-america h2 {
    color: #285bff;
    margin-bottom: 1rem;
}

#cap-america {
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .30);
}

#thor h2 {
    color: #B4B100FF;
    margin-bottom: 1rem;
}

#thor {
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .30);
}

#hulk h2 {
    color: #4d980f;
    margin-bottom: 1rem; /
}

#hulk   {
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .30);
}

.heroe:nth-child(1) h2 { text-align: left; }
.heroe:nth-child(2) h2, .heroe:nth-child(3) h2 { text-align: right; }
.heroe:nth-child(4) h2 { text-align: center; }

img {
    width: 100%; /* Ajusta este valor como necesario */
    border-radius: 5px; /* Para imágenes redondeadas */
}
